body {
    text-align: center;
    margin: 0;
}

#welcome {
    background: linear-gradient(#eb5757 0%, #ebe957 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1{
    font-style: italic;
    font-size: 45px;
}

#c, #l {
    width: 500px;
    height: 800px;
    border-radius: 50%;
    margin-top: 30px; 
}

p {
    font-size: 40px;
    margin: 25px auto;
    line-height: 1.5;
    color: blue;

}

h1 {
    margin-top: 30px;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}


#mix {
    width: 700px;
    height: 800px;
    border-radius: 50%;
    margin-top: 30px;
}

#song {
    width: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
}

